# Постгрес (база данных)
POSTGRES_USER=pgAdmin
POSTGRES_PASSWORD=postgres
POSTGRES_DB=taxi_db
DB_HOST=db
DB_PORT=5432

# Токены
JWT_SECRET_KEY=SECRET-KEY

# Редис (Кеш)
REDIS_HOST=redis
REDIS_PORT=6379
